/*#crc-container {*/
    /*max-width: 1190px;*/
    /*margin: 0 auto;*/
/*}*/

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-image: url(let-me-go.jpg);
    background-size: cover;
}

#crc-container {
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;

    background: #f9fafc;
    border-radius: 4px;
    padding: 30px 0px 15px;
    box-shadow: 10px 10px 43px 0px rgba(0,0,0,0.05);
    margin-bottom: 10px;
    min-height: 550px;
    z-index:100;
}

header .tabs li {
    text-transform: uppercase;
}

h2, h4 {
    text-transform: uppercase;
    text-align: center;
}

.title {
    text-align: center
}
.title h1 {
    text-transform: uppercase;
    font-size: 35px;
    /*line-height:4em;*/
}

.mission h2 {
    /*text-transform: capitalize;*/
    /*text-align: center;*/
}

header {
    background: yellow;
}

.mission .paragraph-container {
    margin: 0 auto;
    max-width: 1190px;
}

.contact {
    text-align: center;
}