/*#crc-container {*/
    /*max-width: 1190px;*/
    /*margin: 0 auto;*/
/*}*/

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-image: url(let-me-go.jpg);
    background-size: cover;
}

.crc-container {
    background-color: white;
}

header .tabs li {
    text-transform: uppercase;
}

h2, h4 {
    text-transform: uppercase;
    text-align: center;
}

.title {
    text-align: center
}
.title h1 {
    text-transform: uppercase;
    font-size: 35px;
    /*line-height:4em;*/
}

.mission h2 {
    /*text-transform: capitalize;*/
    /*text-align: center;*/
}

header {
    background: yellow;
}

.mission .paragraph-container {
    margin: 0 auto;
    max-width: 1190px;
}

.contact {
    text-align: center;
}